<%= will_paginate %>
<div data-controller="user--component">
  <ul class="users" data-target="user--component.userList">
    <%= render User::List::Item::Component.with_collection(@users) %>
  </ul>
</div>
<%= will_paginate %>